* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.gallery-wrapper {
  display: flex;
  height: 100vh;
}

.gallery-item {
  flex: 1;
  padding: 2.5rem;
  background-position: center;
  background-size: cover;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: flex 0.5s ease-in;
}

.gallery-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  transition: background-color 0.5s;
}

.gallery-item:hover {
  flex: 5;
}

.gallery-item:hover:after {
  background-color: rgba(0, 0, 0, 0.5);
}

.item-1 {
  background-image: url("images/bill_gates.jpg");
}

.item-2 {
  background-image: url("images/elon_musk.jpeg");
}

.item-3 {
  background-image: url("images/jeff_bezos.jpg");
}

.item-4 {
  background-image: url("images/larry_ellison.jpg");
}

.item-5 {
  background-image: url("images/mark_zuckerberg.jpg");
}

.description-wrapper {
  text-transform: uppercase;
  align-self: flex-end;
  overflow: hidden;
}

.name {
  font-size: 6rem;
  margin-bottom: 1rem;
  transform: translateY(-110%);
}

.position-title {
  font-size: 2rem;
  display: inline-block;
  transform: translateY(110%);
}

.name,
.position-title {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 1px 1rem rgba(0, 0, 0.2);
  transition: transform 0.3s 0.5s;
}

.gallery-item:hover .name,
.gallery-item:hover .position-title {
  transform: translateY(0);
}

.gallery-item:not(:hover) .name,
.gallery-item:not(:hover) .position-title {
  transition-delay: 0s;
}

@media (max-width: 1100px) {
  .name {
    font-size: 4rem;
  }

  .position-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .gallery-wrapper {
    flex-direction: column;
  }

  .gallery-item:hover {
    flex: 100%;
  }

  .name {
    font-size: 3rem;
  }

  .position-title {
    font-size: 1rem;
  }
}
